@import url(roots.css);

/* header */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#headbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 20px;
    margin: 0;
    position: sticky;
    top: 0;
    left: 0;
}

header #centerDiv{
    margin-left: 105px;
}

.hidden{
    display: none;
}

.ulbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:20px ; 
}

.ulbar li{
    list-style: none;
    padding: 0px 15px;
}

.ulbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--light-color);
    transition: 0.5s ease;
}

#headbar a{
    text-decoration: none;
    color: var(--light-color);
}

#centerDiv  .ulbar li a:hover{
    color: rgb(94, 229, 119);
}



/* footer */

footer{
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

#upRow{
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 10px;
}

#contactUs{
    text-align: center;
}

#contactUs p{
    margin: 4px;
}

#links ul{
    margin-top: 10px;
}

#links ul li{
    list-style-type: none;
    margin: 15px 0px ;
}
#links ul li a{
    text-decoration: none;
    color: var(--light-color);
}

#downRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
}

.icons{
    padding-left: 50px;
}

footer #icons-under{
    padding-bottom: 15px;
}




/* phone screen here */
@media screen and (max-width: 750px) {
    #headbar{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        background-color: var(--dark-color);
        padding: 20px 40px;
        margin: 0;
    }
    
    header #centerDiv{
        margin-left: 0;
    }

    footer .phone-footer{
        display: flex;
        justify-content: space-around;
    }
    footer #upRow #contactUs{
        padding-bottom: 40px;
    }

    footer #icons-under{
        padding-bottom: 20px;
    }

    
    #upRow{
        display: block;
        text-align: center;
        margin: 10px;
    }
    
    #downRow{
        display: block;
        text-align: center;
        /* margin: 10px; */
    }

    footer #links{
        margin-top: -25px;
    }

    footer #links ul li{
        /* margin-top: -5px; */
        margin-bottom: -5px;
    }

    

    


    
}









